<?xml version="1.0"?>
<config>
    <modules>
        <WhittallAndShon_SocialNetwork>
            <version>0.0.1</version>
        </WhittallAndShon_SocialNetwork>
    </modules>
    <global>
        <helpers>
            <socialnetwork>
                <class>WhittallAndShon_SocialNetwork_Helper</class>
            </socialnetwork>
        </helpers>
        <blocks>
             <socialnetwork>
                <class>WhittallAndShon_SocialNetwork_Block</class>
             </socialnetwork>
        </blocks>
    </global>
</config>