<?xml version="1.0"?>
<config>
  <modules>
    <WhittallAndShon_Wholesalers>
      <version>0.1.0</version>
    </WhittallAndShon_Wholesalers>
  </modules>
  <frontend>
    <routers>
      <customer>
        <use>standard</use>
        <args>
          <module>WhittallAndShon_Wholesalers</module>
          <frontName>wholesalers</frontName>
          <!--<WhittallAndShon_Wholesalers before="Mage_Customer">WhittallAndShon_Wholesalers</WhittallAndShon_Wholesalers>-->
        </args>
      </customer>
    </routers>
  </frontend>
  <global>
    <fieldsets>
      <customer_account>
        <dba>
          <to_quote>dba</to_quote>
          <create>1</create>
          <update>1</update>
          <name>1</name>
        </dba>
		<group_id><create>1</create><update>1</update></group_id>
		<customer_activated><create>1</create><update>1</update></customer_activated>
		<country_id><create>1</create><update>1</update></country_id>
		<create_address><create>1</create><update>1</update></create_address>
		<default_billing><create>1</create><update>1</update></default_billing>
		<default_shipping><create>1</create><update>1</update></default_shipping>
      </customer_account>
    </fieldsets>
    <resources>
      <customer_setup>
        <setup>
          <module>WhittallAndShon_Wholesalers</module>
          <class>Mage_Customer_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </customer_setup>
      <customer_write>
        <connection>
          <use>core_write</use>
        </connection>
      </customer_write>
      <customer_read>
        <connection>
          <use>core_read</use>
        </connection>
      </customer_read>
    </resources>
    <blocks>
      <customer>
        <rewrite>
          <form_login>WhittallAndShon_Wholesalers_Block_Form_Login</form_login>
          <form_register>WhittallAndShon_Wholesalers_Block_Form_Register</form_register>
        </rewrite>
      </customer>
    </blocks>
    <routers>
      <customer>
        <rewrite>
          <whittallandshon_wholesalers_account>
            <from>
              <![CDATA[#^/account/#]]>
            </from>
            <to>/customer/account/</to>
          </whittallandshon_wholesalers_account>
        </rewrite>
      </customer>
    </routers>
    <helpers>
      <customer>
        <rewrite>
          <data>WhittallAndShon_Wholesalers_Helper_Data</data>
        </rewrite>
      </customer>
    </helpers>
  </global>
</config>
